@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --red:#eb7966
}
*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    outline: none;
}
*::selection {
    background: var(--red);
    color: #fff;
}
html{
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}
section {
    padding: 2rem 5%;

}

.heading {
    text-align: center;
    font-size: 3.1rem;
    padding: 1rem;
    color: #666;
}

.heading span {
    color: var(--red);
}
.btn {
    display: inline-block;
    padding: 0.1rem 0.3rem;
    border: .2rem solid var(--red);
    color: var(--red);
    cursor: pointer;
    font-size: 1.5rem;
    border-radius: 0.6rem;
    box-shadow: inset 0 0 0 0.09px var(--red);
    -webkit-transition: box-shadow linear 0.3s,
    color linear 0.3s;
    -moz-transition: box-shadow linear 0.3s,
    color linear 0.3s;
    transition: box-shadow linear 0.3s,
    color linear 0.3s;
    margin-top: 1rem;
}

.btn:hover {
    color: #fff;
    box-shadow: inset 400px 50px 0 0 var(--red);
    
    
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    padding: 0.5rem 6%;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
}

header .logo {
    font-size: 2rem;
    font-weight: bolder;
    color: #666;
}

header .logo i {
    padding-right: .5rem;
    color: var(--red);
}

header .navbar a {
    font-size: 1.5rem;
    margin-left: 2rem;
    color: #666;
}

header .navbar a:hover {
    color: var(--red);
}
#menu-bar {
    font-size: 2rem;
    cursor: pointer;
    color: #666; 
    display: none; 
}
.home{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: center;
    background-image: url(../images/home-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    min-height: 100vh;
}
.home .text{
    flex:1 1 40rem;
    
}
.home .image{
    flex: 1 1 40rem;
}
.home .image img{
    width: 100%;
    padding: 1rem;
    animation:float 3s linear infinite;
}
@keyframes float {

    0%,100% {
        transform: translateY(0rem);
    }

    50% {
        transform: translateY(3rem);
    }
}
.home .text h3{
    font-size: 5rem;
    color: #333;
}
.home .text p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}
.home .text h3 span{
    color: var(--red);
}
.specials .box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.specials .box-container .box {
    flex: 1 1 30rem;
    position: relative;
    overflow: hidden;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border: .1rem solid rgba(0, 0, 0, .3);
    cursor: pointer;
    border-radius: 0.5rem;
}

.specials .box-container .box .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 100%;

}

.specials .box-container .box .content {
    text-align: center;
    background: #fff;
    padding: 2 rem;


}

.specials .box-container .box .content img {
    margin: 1.5rem 0;
}

.specials .box-container .box .content h3 {
    font-size: 2rem;
    color: #333;
}

.specials .box-container .box .content p {
    font-size: 1.4rem;
    color: #666;
    padding: 1rem .5rem;

}

.specials .box-container .box:hover .image {
    top: 0;
}

.sspecials .box-container .box:hover .content {
    transform: translateY(-100%)
}
.popular .box-container{
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
}
.popular .box-container .box{
    flex: 1 1 30rem;
    position: relative;
    border-radius: .5rem;
    background-color: #fff;
    text-align: center;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
    border-radius: 0.5rem;
}
.popular .box-container  .box img{
    height: 25rem;
    object-fit: cover;
    width: 100%;
    border-radius: .5rem;


}
.popular .box-container .box .stars i{
    color:gold;
    font-size:1.7rem;
    padding:1rem .1rem;
}
.popular .box-container .box .price{
    position: absolute;
    top:3rem;
    left:3rem;
    background:var(--red);
    color:#fff;
    font-size: 2rem;
    padding:.5rem 1rem;
    border-radius: .5rem;

}
.popular .box-container .box h3 {
    color: #333;
    font-size: 2rem;
    padding-top: 1rem;
}
.popular .box-container .box .btn{
    margin-bottom: 1.5rem;
}


